<%- include("partials/header") %>

<div class="message">
  <h1 class="cover-heading">Error</h1>
  <p class="lead"><%= msg %></p>
  <p class="lead">
    <a href="<%= route %>" class="btn btn-lg btn-danger"><%= btnMsg %></a>
  </p>
</div>

<%- include("partials/footer") %>
