<%- include("partials/header") %>

<div class="message">
  <h1 class="cover-heading"><%= msg %></h1>
  <p class="lead">
    <a href="<%= route %>" class="btn btn-lg btn-primary"><%= btnMsg %></a>
  </p>
</div>

<%- include("partials/footer") %>
